#map-canvas{
    width:100%;
    height:100vh;
    margin-top: -20px
}
#title{
    font-size: 45px;
}

#map-s{
    height: 800px;
    width: 800px;
}

#map-a{
    height: 800px;
    width: 800px;
}

#set-map{
    height: 700px;
    width: 800px;
}

#table_div{
    height: 500px;
    width: 800px;
}