@{
    ViewData["Title"] = "Independent Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<IndependentProject.Models.Settlement>

<h2>Refugee Population by Country</h2>
<form  class="results">
    <select name="name" id="name">
       @foreach(var org in ViewBag.Origin)
       {
           <option value="@org["origin"]">@org["origin_en"]</option>

       }
    </select>
   

    <input type="submit" value="send" />
</form>

<div id="map"></div>

<script>

 

      function drawRegionsMap(data) {
        
          var jsonData = data;
          console.log(jsonData);

        var data = new google.visualization.DataTable();
          data.addColumn('string','Country');
          data.addColumn('number','Refugees');

          for (i=0; i<jsonData.length; i++){
            var name= jsonData[i].country_of_residence_en;

            if(jsonData[i].value !== null){

               var refugees = parseInt(jsonData[i].value)

            }
            else{
              var refugges = 0;
            }

           

            data.addRows([[name,refugees]])
          }
  
 

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('map'));

        chart.draw(data, options);
      }

  $(document).ready(function(){
     google.charts.load("visualization", "1", { packages: ["geochart"] });
     google.charts.setOnLoadCallback(drawRegionsMap);
     $.ajax({
        url: "http://data.unhcr.org/api/stats/time_series.json?year=2013&country_of_origin=SYR&population_type_code=RF",
        type: 'GET',
        cache: true,
        success: function (res) {
            drawRegionsMap(res);
      }
     });
     $('.results').submit(function (event) {
         google.charts.load("visualization", "1", { packages: ["geochart", "table", "corechart", "bar"] });
         event.preventDefault();
         var year = 2000
         var data = [];
         var org = $("#name").val();

         for (var i = 2000; i < 2013; i++) {
             $.ajax({
                 url: "http://data.unhcr.org/api/stats/time_series.json?year="+ i +"&country_of_origin=" + org + "&population_type_code=RF",
                 type: 'GET',
                 cache: true,
                 success: function (res) {
                     data.push(res).toList().sort();
                 }
             });
            
         }
         console.log(data);
         drawRegionsMap(data);


       
       
     });


  });
</script>