@{ 
    ViewData["Title"] = "Independent Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title> Independent Projectt</title>
</head>
<body>
    @model IndependentProject.Models.Settlement
   
    <div id="map-canvas"></div>
    <div id="title"></div>
</body>
</html>