@{ 
    ViewData["Title"] = "Independent Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title> Independent Projectt</title>
</head>
<body>
    <h2>Welcome to Independent Project!</h2>
    <div id="map_canvas"></div>
</body>
</html>