@{ 
    ViewData["Title"] = "Independent Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title> Independent Projectt</title>
</head>
<body>
    <div class="container">
    <div id="map_canvas"></div>

    </div>
</body>
</html>