@{
    ViewData["Title"] = "Independent Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<IndependentProject.Models.Settlement>

<h2>UNHCR Refugee Situation Areas </h2>
<hr/>
<form action="settlementResult" class="results">
    <label>Areas of Concern</label>
    <select name="name" id="name">
        <option value="car">Central African Republic</option>
        <option value="burundi">Burundi</option>
        <option value="cotedivoire">Ivory Coast</option>
        <option value="horn">Somalia </option>
        <option value="liberia">Liberia</option>
        <option value="southsudan">South Sudan</option>
        <option value="syria">Syria</option>
    </select>

    <input type="submit" value="See Results" />
</form>


    
<table class="columns">
    <tr>
        <td><div id="set-map"></div></td>
        <td><div id="tabled"></div></td>
    </tr>
    <tr>
        <td><div id="map-s"></div></td>
        <td><div id="map-a"></div></td>
    </tr>
</table>
   

    <script>
        function map(data) {
            var jsonData = data;
            google.charts.setOnLoadCallback(drawMap);
          
          

            function drawMap() {
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Latitude');
                data.addColumn('number', 'Longitude');
                data.addColumn('string', 'Name');
                data.addColumn('number', 'Value');

                var value;
                for (i = 0; i < jsonData.length; i++) {
                    var name = jsonData[i].name;
                    var country = jsonData[i].country;
                    var latitude = parseFloat(jsonData[i].latitude);
                    var longitude = parseFloat(jsonData[i].longitude);
                    for (j = 0; j < jsonData[i].population.length; j++) {

                        if (jsonData[i].population[j] !== undefined) {
                            value = parseInt(jsonData[i].population[j].value)

                        }
                    }
                    data.addRows([[latitude, longitude, name, value]]);
                    value = 0;
                }
                var mapZoom;
                if ($("#name").val() === "syria") {
                    mapZoom = '145';

                }
                else {
                    mapZoom = '002'

                }
                var options = {
                    displayMode: 'markers',
                    sizeAxis: { minValue: 0, maxValue: 10 },
                    region: mapZoom,
                    colorAxis: { colors: ['red'] }
                };
                var map = new google.visualization.GeoChart(document.getElementById('set-map'));
                map.draw(data, options);

                var data1 = new google.visualization.DataTable();
                data1.addColumn('string', 'Refugee Camp');
                data1.addColumn('string', 'Country');
                data1.addColumn('number', 'Population');
                data1.addColumn('string', 'Last update');
                data1.addColumn('string', 'Website');
                var value1;
                var url;
                var update;
                for (i = 0; i < jsonData.length; i++) {
                    var name1 = jsonData[i].name;
                    var country1 = jsonData[i].country;
                    for (j = 0; j < jsonData[i].population.length; j++) {

                        if (jsonData[i].population[j] !== undefined) {
                            value1 = parseInt(jsonData[i].population[j].value)
                            url = jsonData[i].population[j].url;
                            update = jsonData[i].population[j].updated_at;
                        }
                    }

                    data1.addRows([[name1, country1, value1, update, url]]);
                    value = 0;
                    url = "";
                    update = "";
                }
                var tabs = new google.visualization.Table(document.getElementById('tabled'));

                tabs.draw(data1, { showRowNumber: true, width: '100%', height: '100%' });

            }
         
        }
        
        function charts(data)
        {

            var options = {
                animation: {
                    duration: 1500,
                    startup: true
                }
            }
            var jsonData = data;
            google.charts.setOnLoadCallback(drawPie);
            google.charts.setOnLoadCallback(drawBar);
            function drawPie() {
                var data = new google.visualization.DataTable();
                var optionsPie = {
                    title: 'Refugee population by Country',

                }
                data.addColumn('string', 'Name');
                data.addColumn('number', 'Population');
                
                for (i = 0; i < jsonData.length; i++) {
                    var name = jsonData[i].name
                    

                    var population = parseInt(jsonData[i].population[0].value);
                    data.addRows([[name, population]]);
                }
                
                   var chart = new google.visualization.PieChart(document.getElementById('map-s'));
                   chart.draw(data,optionsPie);
            }
            function drawBar() {
             
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Country');
                data.addColumn('number', "Female under 4");
                data.addColumn('number', "Male under 4");
                data.addColumn('number', "Female 5-11");
                data.addColumn('number', "Male 5-11");
                data.addColumn('number', "Female 12-17");
                data.addColumn('number', "Male 12-17");
                data.addColumn('number', "Female 18-59");
                data.addColumn('number', "Male 18-59");
                data.addColumn('number', "Female 60+");
                data.addColumn('number', "Male 60+");
                var f04;
                var m04;
                var f511;
                var m511;
                var f1217;
                var m1217;
                var f1859;
                var m1859;
                var f60;
                var m60;
                for (i = 0; i < jsonData.length; i++) {
                    var name = jsonData[i].name;
                    for (j = 0; j < jsonData[i].population.length; j++)
                    {
                        
                        if (jsonData[i].population[j].demography !== undefined) {
                            f04 = parseInt(jsonData[i].population[j].demography["04F"]);
                            m04 = parseInt(jsonData[i].population[j].demography["04M"]);
                            f511 = parseInt(jsonData[i].population[j].demography["511F"]);
                            m511 = parseInt(jsonData[i].population[j].demography["511M"]);
                            f1217 = parseInt(jsonData[i].population[j].demography["1217F"]);
                            m1217 = parseInt(jsonData[i].population[j].demography["1217M"]);
                            f1859 = parseInt(jsonData[i].population[j].demography["1859F"]);
                            m1859 = parseInt(jsonData[i].population[j].demography["1859M"]);
                            m60 = parseInt(jsonData[i].population[j].demography["60M"]);
                            f60 = parseInt(jsonData[i].population[j].demography["60F"]);

                        }
                       
                    }
                    data.addRows([[name, f04, m04, f511, m511, f1217, m1217, f1859, m1859, m60, f60]])

                }

                var options = {
                    chart: {
                        title: 'Refugee Demographics'
                    },
       
                };
               
                var chart = new google.charts.Bar(document.getElementById('map-a'));
                chart.draw(data,options);
            }

        }

        
       
        $(document).ready(function () {
            $('.results').submit(function (event) {
                google.charts.load("visualization", "1", { packages: ["geochart", "table","corechart","bar"] });
                event.preventDefault();
                var info = $("#name").val();
                var name = info.split("||")[0];
                var instance_id = info.split("||")[1];
                $.ajax({
                    url: "http://data.unhcr.org/api/population/countries.json?instance_id=" + name,
                    type: 'GET',
                    cache: true,
                    success: function (res) {
                        charts(res);
                        console.log(res);
                    }

                });
                $.ajax({
                    url: "http://data.unhcr.org/api/population/settlements.json?instance_id=" + name,
                    type: 'GET',
                    cache: true,
                    success: function (set) {
                        console.log(set);
                        map(set)
                    }

                });

                $.ajax({
                    url: "http://data.un.org/Data.aspx?d=UNHCR&f=indID%3AType-Ref",
                    type: 'GET',
                    cache: true,
                    success: function (set) {
                        console.log(set);
                       
                    }

                });
       
            });
        });

       
       
    </script>
