@{
    ViewData["Title"] = "Independent Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<IndependentProject.Models.Settlement>

<h2>Settlements</h2>
<hr/>
<ol>
    @foreach (var settlement in Model)
    {
        <li>
            <ul>
                <li>Refugee Camp : @settlement.name</li>
                <li>Country: @settlement.country</li>
                <li>Latitude: @settlement.latitude</li>
                <li>Longitude: @settlement.longitude</li>
             
               



            </ul>
        </li>

    }
</ol>