<!DOCTYPE html>
<html>
<head>
    <style>
        .active {
            fill: blue !important;
        }
        /*.datamaps-key dt, .datamaps-key dd {float: none !important;}
          .datamaps-key {right: -50px; top: 0;}*/
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="http://datamaps.github.io/scripts/0.4.5/datamaps.world.min.js"></script>
</head>
<body>

    <div id="container1" style="border:1px dotted blue; width: 700px; height: 475px; position: relative;"></div>
    
    <script>

        // Mix and match ways to specify how arcs are drawn
 
 function drawArc(){

      var map = new Datamap({
           element: document.getElementById("container1"),
           projection: 'mercator',
           fills: {
      defaultFill: "#cccccc",
      q0: "rgb(215,25,28)",
      q1: "rgb(253,174,97)",
      q2: "rgb(255,255,191)",
      q3: "rgb(171,217,233)",
      q4: "rgb(44,123,182)",
    },
             
       });


d3.json("http://data.unhcr.org/api/stats/time_series.json?year=2000&country_of_origin=IRQ&population_type_code=RF", function (d) {
    var arcs = [];

    var colors = d3.scale.category10();

    for (var key in d) {
        var obj = d[key];
        if (obj.value < 500) {
            arcs.push({
                origin: obj.country_of_origin,
                destination: obj.country_of_residence,
                options:{
                    strokeColor: "rgb(215,25,28)",
                    strokeWidth: 1
                } // tack on options for each one
            });
        }
        else if (obj.value < 5000) {
            arcs.push({
                origin: obj.country_of_origin,
                destination: obj.country_of_residence,
                options: {
                    popupOnHover: true,
                    strokeColor: "rgb(253,174,97)",
                    strokeWidth:1.5
                } // tack on options for each one
            });
        }

        else if (obj.value < 50000) {
            arcs.push({
                origin: obj.country_of_origin,
                destination: obj.country_of_residence,
                options: {
                    strokeColor:"rgb(255,255,191)",
                    strokeWidth:2
                } // tack on options for each one
            });
        }
            
        else if (obj.value < 150000) {
            arcs.push({
                origin: obj.country_of_origin,
                destination: obj.country_of_residence,
                options: {
                    strokeColor: "rgb(171,217,233)",
                    strokeWidth:2.5
                } // tack on options for each one
            });
        }

        else {
            arcs.push({
                origin: obj.country_of_origin,
                destination: obj.country_of_residence,
                options: {
                    strokeColor: "rgb(44,123,182)",
                    strokeWidth:3
                } // tack on options for each one
            });

        }
       
        map.arc(arcs);

        map.legend({
            legendTitle: "Refugee Migration",
            labels:{
                q0: "<500",
                q1: "<5000",
                q2: "<50000",
                q3: "<150000",
                q4: "150000+",
            }
        });

    }
});
     
 }

 drawArc();

      

    </script>
</body>
</html>